@page "/calendar-events"
@attribute [Authorize(HCPermissions.CalendarEvents.Default)]
@using HC.CalendarEvents
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Blazorise.Scheduler
@using Blazorise.Extensions
@using Microsoft.Extensions.Logging
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HCComponentBase
@inject ICalendarEventsAppService CalendarEventsAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["CalendarEvents"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar" @key="IsListView">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }

    /* Make select2 always full width */
    .hc-select2-full,
    .hc-select2-full > * {
        width: 100%;
    }

    .hc-select2-full .select2-container {
        width: 100% !important;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="CalendarEventSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="CalendarEventSearchForm" Clicked="GetCalendarEventsAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Title"]</FieldLabel>
                        <TextEdit Text="@Filter.Title" TextChanged="@OnTitleChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Description"]</FieldLabel>
                        <TextEdit Text="@Filter.Description" TextChanged="@OnDescriptionChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinStartTime"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.StartTimeMin"
            DateChanged="@OnStartTimeMinChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxStartTime"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.StartTimeMax"
            DateChanged="@OnStartTimeMaxChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinEndTime"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.EndTimeMin"
            DateChanged="@OnEndTimeMinChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxEndTime"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.EndTimeMax"
            DateChanged="@OnEndTimeMaxChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["AllDay"]</FieldLabel>
                        <Select TValue="bool?"
		SelectedValue="@Filter.AllDay"
		SelectedValueChanged="@OnAllDayChangedAsync">
<SelectItem></SelectItem>
<SelectItem Value="true">@L["Yes"]</SelectItem>
<SelectItem Value="false">@L["No"]</SelectItem>
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["EventType"]</FieldLabel>
                        @* <TextEdit Text="@Filter.EventType" TextChanged="@OnEventTypeChangedAsync" />                        *@
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Location"]</FieldLabel>
                        <TextEdit Text="@Filter.Location" TextChanged="@OnLocationChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["RelatedType"]</FieldLabel>
                        @* <TextEdit Text="@Filter.RelatedType" TextChanged="@OnRelatedTypeChangedAsync" />                        *@
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["RelatedId"]</FieldLabel>
                        <TextEdit Text="@Filter.RelatedId" TextChanged="@OnRelatedIdChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Visibility"]</FieldLabel>
                        @* <TextEdit Text="@Filter.Visibility" TextChanged="@OnVisibilityChangedAsync" />                        *@
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>
        </Row>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
@if (IsListView)
{
<Card>
    <CardBody>        
        <Div  Visibility="@(SelectedCalendarEvents.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
              <p class="lead mb-0">
                @if (AllCalendarEventsSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedCalendarEvents.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedCalendarEvents.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
              </p>
            <div>
                @if ((SelectedCalendarEvents.Count == PageSize || SelectedCalendarEvents.Count == CalendarEventList.Count) && TotalCount > SelectedCalendarEvents.Count)
                {
                    if (!AllCalendarEventsSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedCalendarEventsAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedCalendarEvents.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="CalendarEventDto"
                  @ref="DataGridRef"
                  Data="CalendarEventList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedCalendarEvents"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedCalendarEventRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                @if (CanDeleteCalendarEvent && CalendarEventList.Any())
                {
                    <DataGridMultiSelectColumn TItem="CalendarEventDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                <DataGridEntityActionsColumn TItem="CalendarEventDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="CalendarEventDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="CalendarEventDto"
                                          Visible="@CanEditCalendarEvent"
                                          Clicked="async () => await OpenEditCalendarEventModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="CalendarEventDto"
                                          Visible="@CanDeleteCalendarEvent"
                                          Clicked="() => DeleteCalendarEventAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="Title"
                      Caption="@L["Title"]">
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="Description"
                      Caption="@L["Description"]">
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="StartTime"
                      Caption="@L["StartTime"]">
                  <DisplayTemplate>
                        @context.StartTime.ToString("dd/MM/yyyy HH:mm")
                  </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="EndTime"
                      Caption="@L["EndTime"]">
                  <DisplayTemplate>
                        @context.EndTime.ToString("dd/MM/yyyy HH:mm")
                  </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="AllDay"
                      Caption="@L["AllDay"]">
                    <DisplayTemplate>
                        @if (context.AllDay)
                        {
                            <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                        }
                        else
                        {
                            <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                        }
                    </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="EventType"
                      Caption="@L["EventType"]">
                  <DisplayTemplate>
                      @if (Enum.TryParse<EventType>(context.EventType, out var eventType))
                      {
                          @L[$"Enum:EventType.{eventType}"]
                      }
                      else
                      {
                          @context.EventType
                      }
                  </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="Location"
                      Caption="@L["Location"]">
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="RelatedType"
                      Caption="@L["RelatedType"]">
                  <DisplayTemplate>
                      @if (Enum.TryParse<RelatedType>(context.RelatedType, out var relatedType))
                      {
                          @L[$"Enum:RelatedType.{relatedType}"]
                      }
                      else
                      {
                          @context.RelatedType
                      }
                  </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="RelatedId"
                      Caption="@L["RelatedId"]">
              </DataGridColumn>
              <DataGridColumn TItem="CalendarEventDto"
                      Field="Visibility"
                      Caption="@L["Visibility"]">
                  <DisplayTemplate>
                      @if (Enum.TryParse<EventVisibility>(context.Visibility, out var visibility))
                      {
                          @L[$"Enum:EventVisibility.{visibility}"]
                      }
                      else
                      {
                          @context.Visibility
                      }
                  </DisplayTemplate>
              </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
}
@* ************************* SCHEDULER ************************* *@
@if (!IsListView)
{
<Card>
    <CardBody>
        <Scheduler TItem="Appointment" 
                   @key="@($"scheduler-{SchedulerEventList?.Count ?? 0}-{SelectedSchedulerDate}-{SelectedSchedulerView}")"
                   Date="@SelectedSchedulerDate"
                   DateChanged="@(async (DateOnly value) => { 
                    SelectedSchedulerDate = value; 
                        RebuildToolbar();
                        await GetCalendarEventsAsync();
                        await InvokeAsync(StateHasChanged);
                     })"
                   Data="@SchedulerEventList"
                   @bind-SelectedView="@SelectedSchedulerView"
                   Localizers="@SchedulerLocalizers"
                   EditItemClicked="OnSchedulerItemClicked"
                   AllDayField="AllDay">
            <SchedulerToolbar />
            <SchedulerViews>
                <SchedulerMonthView StartTime="@SchedulerStartTime" 
                                    EndTime="@SchedulerEndTime" 
                                    WorkDayStart="@SchedulerWorkDayStart" 
                                    WorkDayEnd="@SchedulerWorkDayEnd" />
            </SchedulerViews>
        </Scheduler>
    </CardBody>
</Card>
}
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateCalendarEventModal" Closing="@CreateCalendarEventModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateCalendarEventForm">
            <ModalHeader>
                <ModalTitle>@L["NewCalendarEvent"]</ModalTitle>
                <CloseButton Clicked="CloseCreateCalendarEventModalAsync" />
            </ModalHeader>
            <ModalBody>
                @* Manual validation is used (see ValidateCreateCalendarEvent). *@
                @if (!string.IsNullOrWhiteSpace(CreateCalendarEventValidationErrorKey))
                {
                    <Alert Color="Color.Danger">
                        <AlertMessage>@L["NotificationError"]!</AlertMessage>
                        <AlertDescription>@L[CreateCalendarEventValidationErrorKey]</AlertDescription>
                    </Alert>
                }
                <Field>
                    <FieldLabel>@L["Title"] *</FieldLabel>
                    <TextEdit Text="@NewCalendarEvent.Title" 
                              TextChanged="@((string value) => { NewCalendarEvent.Title = value; CreateFieldErrors.Remove("Title"); })"
                              Autofocus="true"
                              Style="@(HasCreateFieldError("Title") ? "border-color: #dc3545;" : "")">
                    </TextEdit>
                    @if (HasCreateFieldError("Title"))
                    {
                        <div class="invalid-feedback d-block">@GetCreateFieldError("Title")</div>
                    }
                </Field>
                <Field>
                    <FieldLabel>@L["Description"]</FieldLabel>
                    <MemoEdit @bind-Text="@NewCalendarEvent.Description">
                    </MemoEdit>
                </Field>
                <Field>
                    <FieldLabel>@L["StartTime"]</FieldLabel>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <DatePicker TValue="DateTime"
                                        InputMode="DateInputMode.DateTime"
                                        Date="@NewCalendarEvent.StartTime"
                                        DateChanged="@(v => NewCalendarEvent.StartTime = v)"
                                        Placeholder="@string.Empty"
                                        DisplayFormat="dd/MM/yyyy HH:mm"
                                        InputFormat="dd/MM/yyyy HH:mm"
                                        @ref="@NewCalendarEventStartTimeDatePicker" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Light" Clicked="@(() => NewCalendarEventStartTimeDatePicker?.ToggleAsync())">
                                <Icon Name="IconName.CalendarDay" />
                            </Button>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <FieldLabel>@L["EndTime"]</FieldLabel>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <DatePicker TValue="DateTime"
                                        InputMode="DateInputMode.DateTime"
                                        Date="@NewCalendarEvent.EndTime"
                                        DateChanged="@(v => NewCalendarEvent.EndTime = v)"
                                        Placeholder="@string.Empty"
                                        DisplayFormat="dd/MM/yyyy HH:mm"
                                        InputFormat="dd/MM/yyyy HH:mm"
                                        @ref="@NewCalendarEventEndTimeDatePicker" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Light" Clicked="@(() => NewCalendarEventEndTimeDatePicker?.ToggleAsync())">
                                <Icon Name="IconName.CalendarDay" />
                            </Button>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Check TValue="bool" @bind-Checked="@NewCalendarEvent.AllDay"  >@L["AllDay"]</Check>
                </Field>
                <Field>
                    <FieldLabel>@L["EventType"] *</FieldLabel>
                    <Select TValue="EventType" 
                            SelectedValue="@NewCalendarEventEventType"
                            SelectedValueChanged="@((EventType value) => { NewCalendarEventEventType = value; })">
                        <ChildContent>
                            @foreach (var eventType in Enum.GetValues<EventType>())
                            {
                                <SelectItem TValue="EventType" Value="@eventType">
                                    @L[$"Enum:EventType.{eventType}"]
                                </SelectItem>
                            }
                        </ChildContent>
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>@L["Location"]</FieldLabel>
                    <TextEdit @bind-Text="@NewCalendarEvent.Location">
                    </TextEdit>
                </Field>
                    <Field>
                        <FieldLabel>@L["RelatedType"] *</FieldLabel>
                        <Select TValue="RelatedType" 
                                SelectedValue="@NewCalendarEventRelatedType"
                                SelectedValueChanged="@((RelatedType value) => { NewCalendarEventRelatedType = value; SelectedNewProject.Clear(); SelectedNewProjectTask.Clear(); CreateFieldErrors.Remove("RelatedId"); InvokeAsync(StateHasChanged); })">
                            <ChildContent>
                                @foreach (var relatedType in Enum.GetValues<RelatedType>())
                                {
                                    <SelectItem TValue="RelatedType" Value="@relatedType">
                                        @L[$"Enum:RelatedType.{relatedType}"]
                                    </SelectItem>
                                }
                            </ChildContent>
                        </Select>
                    </Field>
                    @if (NewCalendarEventRelatedType == RelatedType.PROJECT)
                    {
                        <Field>
                            <FieldLabel>@L["Project"] *</FieldLabel>
                            <div class="hc-select2-full" style="@(HasCreateFieldError("RelatedId") ? "border: 1px solid #dc3545; border-radius: 0.25rem; padding: 2px;" : "")">
                                <Select2 IdSelector="c => c.Id.ToString()"
                                         TextSelector="c => c.DisplayName"
                                         FilterFunction="GetProjectCollectionLookupAsync"
                                         GetElementById="async (items, id, token) => items.Where(x => x.Id.ToString() == id).FirstOrDefault()!"
                                         Datasource="ProjectsCollection"
                                         Value="@SelectedNewProject"
                                         OnValueChanged="@(() => { OnNewProjectChanged(); })"
                                         Cache="__MemoryCache"
                                         Multiselect="false" />
                            </div>
                            @if (HasCreateFieldError("RelatedId"))
                            {
                                <div class="invalid-feedback d-block">@GetCreateFieldError("RelatedId")</div>
                            }
                        </Field>
                    }
                    else if (NewCalendarEventRelatedType == RelatedType.TASK)
                    {
                        <Field>
                            <FieldLabel>@L["ProjectTask"] *</FieldLabel>
                            <div class="hc-select2-full" style="@(HasCreateFieldError("RelatedId") ? "border: 1px solid #dc3545; border-radius: 0.25rem; padding: 2px;" : "")">
                                <Select2 IdSelector="c => c.Id"
                                         TextSelector="c => c.DisplayName"
                                         FilterFunction="GetProjectTaskCollectionLookupAsync"
                                         GetElementById="async (items, id, token) => items.Where(x => x.Id == id).FirstOrDefault()!"
                                         Datasource="ProjectTasksCollection"
                                         Value="@SelectedNewProjectTask"
                                         OnValueChanged="@(() => { OnNewProjectTaskChanged(); })"
                                         Cache="__MemoryCache"
                                         Multiselect="false" />
                            </div>
                            @if (HasCreateFieldError("RelatedId"))
                            {
                                <div class="invalid-feedback d-block">@GetCreateFieldError("RelatedId")</div>
                            }
                        </Field>
                    }
                    <Field>
                        <FieldLabel>@L["Visibility"] *</FieldLabel>
                        <Select TValue="EventVisibility" 
                                SelectedValue="@NewCalendarEventVisibility"
                                SelectedValueChanged="@((EventVisibility value) => { NewCalendarEventVisibility = value; })">
                            <ChildContent>
                                @foreach (var visibility in Enum.GetValues<EventVisibility>())
                                {
                                    <SelectItem TValue="EventVisibility" Value="@visibility">
                                        @L[$"Enum:EventVisibility.{visibility}"]
                                    </SelectItem>
                                }
                            </ChildContent>
                        </Select>
                    </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateCalendarEventModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateCalendarEventForm" Clicked="CreateCalendarEventAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditCalendarEventModal" Closing="@EditCalendarEventModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditCalendarEventForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditCalendarEventModalAsync" />
            </ModalHeader>
            <ModalBody>
                @* Manual validation is used (see ValidateEditCalendarEvent). *@
                @if (!string.IsNullOrWhiteSpace(EditCalendarEventValidationErrorKey))
                {
                    <Alert Color="Color.Danger">
                        <AlertMessage>@L["NotificationError"]!</AlertMessage>
                        <AlertDescription>@L[EditCalendarEventValidationErrorKey]</AlertDescription>
                    </Alert>
                }
                <Field>
                    <FieldLabel>@L["Title"] *</FieldLabel>
                    <TextEdit Text="@EditingCalendarEvent.Title" 
                              TextChanged="@((string value) => { EditingCalendarEvent.Title = value; EditFieldErrors.Remove("Title"); })"
                              Autofocus="true"
                              Style="@(HasEditFieldError("Title") ? "border-color: #dc3545;" : "")">
                    </TextEdit>
                    @if (HasEditFieldError("Title"))
                    {
                        <div class="invalid-feedback d-block">@GetEditFieldError("Title")</div>
                    }
                </Field>
                <Field>
                    <FieldLabel>@L["Description"]</FieldLabel>
                    <MemoEdit @bind-Text="@EditingCalendarEvent.Description">
                    </MemoEdit>
                </Field>
                <Field>
                    <FieldLabel>@L["StartTime"]</FieldLabel>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <DatePicker TValue="DateTime"
                                        InputMode="DateInputMode.DateTime"
                                        Date="@EditingCalendarEvent.StartTime"
                                        DateChanged="@(v => EditingCalendarEvent.StartTime = v)"
                                        Placeholder="@string.Empty"
                                        DisplayFormat="dd/MM/yyyy HH:mm"
                                        InputFormat="dd/MM/yyyy HH:mm"
                                        @ref="@EditingCalendarEventStartTimeDatePicker" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Light" Clicked="@(() => EditingCalendarEventStartTimeDatePicker?.ToggleAsync())">
                                <Icon Name="IconName.CalendarDay" />
                            </Button>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <FieldLabel>@L["EndTime"]</FieldLabel>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <DatePicker TValue="DateTime"
                                        InputMode="DateInputMode.DateTime"
                                        Date="@EditingCalendarEvent.EndTime"
                                        DateChanged="@(v => EditingCalendarEvent.EndTime = v)"
                                        Placeholder="@string.Empty"
                                        DisplayFormat="dd/MM/yyyy HH:mm"
                                        InputFormat="dd/MM/yyyy HH:mm"
                                        @ref="@EditingCalendarEventEndTimeDatePicker" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Light" Clicked="@(() => EditingCalendarEventEndTimeDatePicker?.ToggleAsync())">
                                <Icon Name="IconName.CalendarDay" />
                            </Button>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Check TValue="bool" @bind-Checked="@EditingCalendarEvent.AllDay"  >@L["AllDay"]</Check>
                </Field>
                <Field>
                    <FieldLabel>@L["EventType"] *</FieldLabel>
                    <Select TValue="EventType" 
                            SelectedValue="@EditingCalendarEventEventType"
                            SelectedValueChanged="@((EventType value) => { EditingCalendarEventEventType = value; })">
                        <ChildContent>
                            @foreach (var eventType in Enum.GetValues<EventType>())
                            {
                                <SelectItem TValue="EventType" Value="@eventType">
                                    @L[$"Enum:EventType.{eventType}"]
                                </SelectItem>
                            }
                        </ChildContent>
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>@L["Location"]</FieldLabel>
                    <TextEdit @bind-Text="@EditingCalendarEvent.Location">
                    </TextEdit>
                </Field>
                    <Field>
                        <FieldLabel>@L["RelatedType"] *</FieldLabel>
                        <Select TValue="RelatedType" 
                                SelectedValue="@EditingCalendarEventRelatedType"
                                SelectedValueChanged="@((RelatedType value) => { EditingCalendarEventRelatedType = value; SelectedEditProject.Clear(); SelectedEditProjectTask.Clear(); EditFieldErrors.Remove("RelatedId"); InvokeAsync(StateHasChanged); })">
                            <ChildContent>
                                @foreach (var relatedType in Enum.GetValues<RelatedType>())
                                {
                                    <SelectItem TValue="RelatedType" Value="@relatedType">
                                        @L[$"Enum:RelatedType.{relatedType}"]
                                    </SelectItem>
                                }
                            </ChildContent>
                        </Select>
                    </Field>
                    @if (EditingCalendarEventRelatedType == RelatedType.PROJECT)
                    {
                        <Field>
                            <FieldLabel>@L["Project"] *</FieldLabel>
                            <div class="hc-select2-full" style="@(HasEditFieldError("RelatedId") ? "border: 1px solid #dc3545; border-radius: 0.25rem; padding: 2px;" : "")">
                                <Select2 IdSelector="c => c.Id.ToString()"
                                         TextSelector="c => c.DisplayName"
                                         FilterFunction="GetProjectCollectionLookupAsync"
                                         GetElementById="async (items, id, token) => items.Where(x => x.Id.ToString() == id).FirstOrDefault()!"
                                         Datasource="ProjectsCollection"
                                         Value="@SelectedEditProject"
                                         OnValueChanged="@(() => { OnEditProjectChanged(); })"
                                         Cache="__MemoryCache"
                                         Multiselect="false" />
                            </div>
                            @if (HasEditFieldError("RelatedId"))
                            {
                                <div class="invalid-feedback d-block">@GetEditFieldError("RelatedId")</div>
                            }
                        </Field>
                    }
                    else if (EditingCalendarEventRelatedType == RelatedType.TASK)
                    {
                        <Field>
                            <FieldLabel>@L["ProjectTask"] *</FieldLabel>
                            <div class="hc-select2-full" style="@(HasEditFieldError("RelatedId") ? "border: 1px solid #dc3545; border-radius: 0.25rem; padding: 2px;" : "")">
                                <Select2 IdSelector="c => c.Id"
                                         TextSelector="c => c.DisplayName"
                                         FilterFunction="GetProjectTaskCollectionLookupAsync"
                                         GetElementById="async (items, id, token) => items.Where(x => x.Id == id).FirstOrDefault()!"
                                         Datasource="ProjectTasksCollection"
                                         Value="@SelectedEditProjectTask"
                                         OnValueChanged="@(() => { OnEditProjectTaskChanged(); })"
                                         Cache="__MemoryCache"
                                         Multiselect="false" />
                            </div>
                            @if (HasEditFieldError("RelatedId"))
                            {
                                <div class="invalid-feedback d-block">@GetEditFieldError("RelatedId")</div>
                            }
                        </Field>
                    }
                    <Field>
                        <FieldLabel>@L["Visibility"] *</FieldLabel>
                        <Select TValue="EventVisibility" 
                                SelectedValue="@EditingCalendarEventVisibility"
                                SelectedValueChanged="@((EventVisibility value) => { EditingCalendarEventVisibility = value; })">
                            <ChildContent>
                                @foreach (var visibility in Enum.GetValues<EventVisibility>())
                                {
                                    <SelectItem TValue="EventVisibility" Value="@visibility">
                                        @L[$"Enum:EventVisibility.{visibility}"]
                                    </SelectItem>
                                }
                            </ChildContent>
                        </Select>
                    </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditCalendarEventModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditCalendarEventForm" Clicked="UpdateCalendarEventAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>