@page "/document-detail"
@page "/document-detail/{DocumentId:guid}"
@attribute [Authorize(HCPermissions.Documents.Default)]
@using HC.Documents
@using HC.DocumentFiles
@using HC.Localization
@using HC.MasterDatas
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@using Microsoft.Extensions.Caching.Memory
@using System.IO
@using System.Security.Cryptography
@using System.Text
@inherits HCComponentBase
@inject IDocumentsAppService DocumentsAppService
@inject IDocumentFilesAppService DocumentFilesAppService
@inject IMasterDatasAppService MasterDatasAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject NavigationManager NavigationManager
@inject IMemoryCache __MemoryCache
@inject Volo.Abp.BlobStoring.IBlobContainer BlobContainer
@inject IJSRuntime JSRuntime

<PageHeader Title="@PageTitle" BreadcrumbItems="BreadcrumbItems">
</PageHeader>

@if (IsLoading)
{
    <Card>
        <CardBody>
            <Row Class="w-100 align-items-center" Style="height: 150px;">
                <Column>
                    <RadarSpinner />
                </Column>
            </Row>
        </CardBody>
    </Card>
}
else if (IsEditMode && CurrentDocument is null)
{
    <Card>
        <CardBody>
            <Alert Color="Color.Danger">
                @L["NoDataAvailable"]
            </Alert>
        </CardBody>
    </Card>
}
else
{
    <Card>
        <CardBody>
            <Form id="DocumentDetailForm">
                @if (IsEditMode && DocumentUpdateData != null)
                {
                    <Validations @ref="@DocumentValidations"
                                Mode="ValidationMode.Auto"
                                Model="@DocumentUpdateData"
                                ValidateOnLoad="false">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["DocumentNumber"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.No" MaxLength="DocumentConsts.NoMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Title"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.Title" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["StorageNumber"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.StorageNumber" MaxLength="DocumentConsts.StorageNumberMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CompletedTime"]</FieldLabel>
                                        <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@DocumentUpdateData.CompletedTime" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DateEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Type"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetTypeMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="TypeMasterDataCollection"
                                                 Value="@SelectedTypeMasterData"
                                                 OnValueChanged="OnTypeIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["UrgencyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUrgencyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UrgencyLevelMasterDataCollection"
                                                 Value="@SelectedUrgencyLevelMasterData"
                                                 OnValueChanged="OnUrgencyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["SecrecyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetSecrecyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="SecrecyLevelMasterDataCollection"
                                                 Value="@SelectedSecrecyLevelMasterData"
                                                 OnValueChanged="OnSecrecyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Field"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetFieldMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="FieldMasterDataCollection"
                                                 Value="@SelectedFieldMasterData"
                                                 OnValueChanged="OnFieldIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Status"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetStatusMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="StatusMasterDataCollection"
                                                 Value="@SelectedStatusMasterData"
                                                 OnValueChanged="OnStatusIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Unit"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUnitLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UnitsCollection"
                                                 Value="@SelectedUnit"
                                                 OnValueChanged="OnUnitIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CurrentStatus"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.CurrentStatus" MaxLength="DocumentConsts.CurrentStatusMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        @if (!IsViewMode)
                        {
                            <Row>
                                <Column ColumnSize="ColumnSize.Is12">
                                    <Field>
                                        <FieldLabel>@L["File"]</FieldLabel>
                                        <FilePicker Multiple="false"
                                                    Upload="OnFileUpload"
                                                    ShowMode="FilePickerShowMode.List"
                                                    Disabled="true"
                                                    MaxFileSize="52428800">
                                            <ButtonsTemplate>
                                                <Progress Value="@FilePickerProgress" />
                                                <Buttons>
                                                    <Button Clicked="@context.Clear" Color="Color.Warning">
                                                        <Icon Name="IconName.Clear" /> @L["Clear"]
                                                    </Button>
                                                    <Button Clicked="@context.Upload" Color="Color.Primary" Disabled="@(SelectedFile == null || IsUploading)">
                                                        <Icon Name="IconName.FileUpload" /> @L["Upload"]
                                                    </Button>
                                                </Buttons>
                                            </ButtonsTemplate>
                                        </FilePicker>
                                        @if (!string.IsNullOrEmpty(UploadedFilePath))
                                        {
                                            <Alert Color="Color.Success" Dismissible="false" Class="mt-2">
                                                <Icon Name="IconName.CheckCircle" Class="me-2" />
                                                @L["FileUploadedSuccessfully"]: @System.IO.Path.GetFileName(UploadedFilePath)
                                            </Alert>
                                        }
                                        @if (IsEditMode && DocumentFilesList.Any())
                                        {
                                            <div class="mt-3">
                                                <Heading Size="HeadingSize.Is6">@L["UploadedFiles"]</Heading>
                                                <Table Hoverable="true" Bordered="true" Striped="true">
                                                    <thead>
                                                        <tr>
                                                            <th>@L["Name"]</th>
                                                            <th>@L["UploadedAt"]</th>
                                                            <th>@L["IsSigned"]</th>
                                                            <th>@L["Actions"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var file in DocumentFilesList)
                                                        {
                                                            <tr>
                                                                <td>@file.DocumentFile.Name</td>
                                                                <td>@file.DocumentFile.UploadedAt.ToString("dd/MM/yyyy HH:mm")</td>
                                                                <td>
                                                                    @if (file.DocumentFile.IsSigned)
                                                                    {
                                                                        <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex gap-2">
                                                                        <Button Color="Color.Primary" Size="Size.Small" Clicked="@(() => DownloadFileAsync(file.DocumentFile.Path, file.DocumentFile.Name))">
                                                                            <Icon Name="IconName.Download" Class="me-1" />
                                                                            @L["Download"]
                                                                        </Button>
                                                                        @if (CanDeleteDocumentFile)
                                                                        {
                                                                            <Button Color="Color.Danger" Size="Size.Small" Clicked="@(() => DeleteFileAsync(file))">
                                                                                <Icon Name="IconName.Delete" Class="me-1" />
                                                                                @L["Delete"]
                                                                            </Button>
                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </Table>
                                            </div>
                                        }
                                    </Field>
                                </Column>
                            </Row>
                        }
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <div class="d-flex justify-content-end gap-2">
                                    @if (!IsViewMode)
                                    {
                                        <Button Color="Color.Primary" Clicked="OnSave">
                                            <Icon Name="IconName.Save" Class="me-1" />
                                            @L["Save"]
                                        </Button>
                                        <Button Color="Color.Secondary" Clicked="OnCancel">
                                            @L["Cancel"]
                                        </Button>
                                    }
                                    else
                                    {
                                        <Button Color="Color.Secondary" Clicked="OnBack">
                                            @L["Back"]
                                        </Button>
                                        @if (CanEditDocument)
                                        {
                                            <Button Color="Color.Primary" Clicked="OnEdit">
                                                @L["Edit"]
                                            </Button>
                                        }
                                    }
                                </div>
                            </Column>
                        </Row>
                    </Validations>
                }
                else if (DocumentCreateData != null)
                {
                    <Validations @ref="@DocumentValidations"
                                Mode="ValidationMode.Auto"
                                Model="@DocumentCreateData"
                                ValidateOnLoad="false">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["DocumentNumber"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.No" MaxLength="DocumentConsts.NoMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Title"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.Title" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["StorageNumber"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.StorageNumber" MaxLength="DocumentConsts.StorageNumberMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CompletedTime"]</FieldLabel>
                                        <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@DocumentCreateData.CompletedTime" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DateEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Type"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetTypeMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="TypeMasterDataCollection"
                                                 Value="@SelectedTypeMasterData"
                                                 OnValueChanged="OnTypeIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["UrgencyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUrgencyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UrgencyLevelMasterDataCollection"
                                                 Value="@SelectedUrgencyLevelMasterData"
                                                 OnValueChanged="OnUrgencyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["SecrecyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetSecrecyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="SecrecyLevelMasterDataCollection"
                                                 Value="@SelectedSecrecyLevelMasterData"
                                                 OnValueChanged="OnSecrecyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Field"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetFieldMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="FieldMasterDataCollection"
                                                 Value="@SelectedFieldMasterData"
                                                 OnValueChanged="OnFieldIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Status"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetStatusMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="StatusMasterDataCollection"
                                                 Value="@SelectedStatusMasterData"
                                                 OnValueChanged="OnStatusIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Unit"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUnitLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UnitsCollection"
                                                 Value="@SelectedUnit"
                                                 OnValueChanged="OnUnitIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CurrentStatus"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.CurrentStatus" MaxLength="DocumentConsts.CurrentStatusMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        @if (!IsViewMode && !DocumentFilesList.Any())
                        {
                            <Row>
                                <Column ColumnSize="ColumnSize.Is12">
                                    <Field>
                                        <FieldLabel>@L["File"] *</FieldLabel>
                                        <FilePicker Multiple="false"
                                                    Upload="OnFileUpload"
                                                    ShowMode="FilePickerShowMode.List"
                                                    Disabled="@(IsEditMode && CurrentDocument != null)"
                                                    MaxFileSize="52428800">
                                            <ButtonsTemplate>
                                                <Progress Value="@FilePickerProgress" />
                                                <Buttons>
                                                    <Button Clicked="@context.Clear" Color="Color.Warning">
                                                        <Icon Name="IconName.Clear" /> @L["Clear"]
                                                    </Button>
                                                    <Button Clicked="@context.Upload" Color="Color.Primary" Disabled="@(SelectedFile == null || IsUploading)">
                                                        <Icon Name="IconName.FileUpload" /> @L["Upload"]
                                                    </Button>
                                                </Buttons>
                                            </ButtonsTemplate>
                                        </FilePicker>
                                        @if (IsEditMode && CurrentDocument != null)
                                        {
                                            <Alert Color="Color.Warning" Dismissible="false" Class="mt-2">
                                                <Icon Name="IconName.ExclamationTriangle" Class="me-2" />
                                                @L["CannotUploadFileInEditMode"] @L["PleaseDeleteFileFirst"]
                                            </Alert>
                                        }
                                        @if (!string.IsNullOrEmpty(UploadedFilePath))
                                        {
                                            <Alert Color="Color.Success" Dismissible="false" Class="mt-2">
                                                <Icon Name="IconName.CheckCircle" Class="me-2" />
                                                @L["FileUploadedSuccessfully"]: @System.IO.Path.GetFileName(UploadedFilePath)
                                            </Alert>
                                        }
                                    </Field>
                                </Column>
                            </Row>
                        }
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <div class="d-flex justify-content-end gap-2">
                                    @if (!IsViewMode)
                                    {
                                       
                                        <Button Color="Color.Secondary" Clicked="OnCancel">
                                            <Icon Name="IconName.Times" Class="me-1" />
                                            @L["Cancel"]
                                        </Button>

                                        <Button Color="Color.Primary" Clicked="OnSave">
                                            <Icon Name="IconName.Save" Class="me-1" />
                                            @L["Save"]
                                        </Button>
                                    }
                                    else
                                    {
                                        <Button Color="Color.Secondary" Clicked="OnBack">
                                            <Icon Name="IconName.ArrowLeft" Class="me-1" />
                                            @L["Back"]
                                        </Button>
                                        @if (CanEditDocument)
                                        {
                                            <Button Color="Color.Primary" Clicked="OnEdit">
                                                <Icon Name="IconName.Edit" Class="me-1" />
                                                @L["Edit"]
                                            </Button>
                                        }
                                    }
                                </div>
                            </Column>
                        </Row>
                    </Validations>
                }
            </Form>
        </CardBody>
    </Card>
}

<style>
    /* FilePicker Container - Purple dropzone theme */
    .b-file-picker {
        background-color: #f8f7fc !important;
        border: 2px dashed #8b5cf6 !important;
        border-radius: 12px !important;
        padding: 2rem !important;
        text-align: center !important;
        transition: all 0.3s ease !important;
        position: relative !important;
    }

    .b-file-picker:hover {
        background-color: #f3f0ff !important;
        border-color: #7c3aed !important;
    }

    /* Input group styling */
    .b-file-picker .input-group.form-file {
        background-color: transparent !important;
        border: 1px solid #8b5cf6 !important;
        border-radius: 8px !important;
        justify-content: center !important;
        margin-bottom: 0.5rem !important;
        overflow: hidden !important;
    }

    /* Label/Text styling - Purple */
    .b-file-picker .input-group-text {
        background-color: #8b5cf6 !important;
        border: 1px solid #8b5cf6 !important;
        border-right: none !important;
        padding: 0.5rem 1rem !important;
        color: #ffffff !important;
    }

    .b-file-picker .input-group-text .text-muted {
        color: white !important;
        font-weight: 500 !important;
        font-size: 1rem !important;
    }

    /* File input styling - Ensure it's clickable */
    .b-file-picker .form-control[type="file"] {
        border: 1px solid #8b5cf6 !important;
        border-left: none !important;
        background-color: #ffffff !important;
        color: #8b5cf6 !important;
        cursor: pointer !important;
        padding: 0.5rem !important;
        position: relative !important;
        z-index: 1 !important;
        pointer-events: auto !important;
        opacity: 1 !important;
        visibility: visible !important;
        border-radius: 0 8px 8px 0 !important;
    }

    .b-file-picker .form-control[type="file"]::file-selector-button {
        background-color: #8b5cf6 !important;
        color: #ffffff !important;
        border: none !important;
        padding: 0.5rem 1rem !important;
        border-radius: 6px !important;
        font-weight: 600 !important;
        cursor: pointer !important;
        margin-right: 0.75rem !important;
    }

    .b-file-picker .form-control[type="file"]::file-selector-button:hover {
        background-color: #7c3aed !important;
    }

    /* Drop text styling - Purple */
    .b-file-picker .b-text-drop {
        color: #8b5cf6 !important;
        font-weight: 500 !important;
        font-size: 0.95rem !important;
        margin-top: 0.75rem !important;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        border-radius: 12px !important;
    }

    /* File list items - Uploading state */
    .b-file-picker .b-file-picker-item {
        border: 1px solid #e5e7eb !important;
        border-radius: 8px !important;
        padding: 0.75rem !important;
        margin-bottom: 0.5rem !important;
        background-color: #ffffff !important;
    }

    .b-file-picker .b-file-picker-item .b-file-picker-item-name {
        color: #111827 !important;
        font-weight: 500 !important;
    }

    /* Progress bar styling - Purple */
    .b-file-picker .b-progress {
        margin-top: 0.5rem !important;
        height: 8px !important;
        border-radius: 4px !important;
        background-color: #e5e7eb !important;
    }

    .b-file-picker .b-progress-bar {
        background-color: #8b5cf6 !important;
        border-radius: 4px !important;
    }

    /* FilePicker List - Uploaded files (success state - Green) */
    .b-file-picker .b-file-picker-item.b-file-picker-item-success,
    .b-file-picker .b-file-picker-item[data-state="success"] {
        background-color: #ecfdf5 !important;
        border-color: #10b981 !important;
    }

    .b-file-picker .b-file-picker-item.b-file-picker-item-success .b-file-picker-item-name,
    .b-file-picker .b-file-picker-item[data-state="success"] .b-file-picker-item-name {
        color: #065f46 !important;
    }

    /* Upload button styling - Purple */
    .b-file-picker .b-file-picker-buttons .btn-primary,
    .b-file-picker .b-file-picker-buttons button.btn-primary {
        background-color: #7c3aed !important;
        border-color: #7c3aed !important;
        color: #ffffff !important;
        font-weight: 600 !important;
        padding: 0.5rem 1.5rem !important;
        text-transform: uppercase !important;
        letter-spacing: 0.5px !important;
        border-radius: 8px !important;
    }

    .b-file-picker .b-file-picker-buttons .btn-primary:hover,
    .b-file-picker .b-file-picker-buttons button.btn-primary:hover {
        background-color: #6d28d9 !important;
        border-color: #6d28d9 !important;
    }

    .b-file-picker .b-file-picker-buttons .btn-primary:disabled,
    .b-file-picker .b-file-picker-buttons button.btn-primary:disabled {
        background-color: #c4b5fd !important;
        border-color: #c4b5fd !important;
        opacity: 0.6 !important;
    }

    /* File remove button (trash icon) - Red */
    .b-file-picker .b-file-picker-item-remove,
    .b-file-picker .b-file-picker-item .btn-close {
        color: #ef4444 !important;
    }

    .b-file-picker .b-file-picker-item-remove:hover,
    .b-file-picker .b-file-picker-item .btn-close:hover {
        color: #dc2626 !important;
    }

    /* Button group spacing */
    .b-file-picker .b-file-picker-buttons {
        display: flex !important;
        gap: 0.75rem !important;
        margin-top: 1rem !important;
        justify-content: center !important;
    }

    /* Ensure input file is always clickable */
    .b-file-picker .form-control[type="file"]:not([disabled]) {
        pointer-events: auto !important;
        cursor: pointer !important;
    }
    
    .b-file-picker .input-group.form-file {
        pointer-events: auto !important;
    }
</style>
