@page "/document-detail"
@page "/document-detail/{DocumentId:guid}"
@attribute [Authorize(HCPermissions.Documents.Default)]
@using HC.Documents
@using HC.DocumentFiles
@using HC.Localization
@using HC.MasterDatas
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@using Microsoft.Extensions.Caching.Memory
@using System.IO
@using System.Security.Cryptography
@using System.Text
@inherits HCComponentBase
@inject IDocumentsAppService DocumentsAppService
@inject IDocumentFilesAppService DocumentFilesAppService
@inject IMasterDatasAppService MasterDatasAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject NavigationManager NavigationManager
@inject IMemoryCache __MemoryCache
@inject Volo.Abp.BlobStoring.IBlobContainer BlobContainer

<PageHeader Title="@PageTitle" BreadcrumbItems="BreadcrumbItems">
</PageHeader>

@if (IsLoading)
{
    <Card>
        <CardBody>
            <Row Class="w-100 align-items-center" Style="height: 150px;">
                <Column>
                    <RadarSpinner />
                </Column>
            </Row>
        </CardBody>
    </Card>
}
else if (IsEditMode && CurrentDocument is null)
{
    <Card>
        <CardBody>
            <Alert Color="Color.Danger">
                @L["NoDataAvailable"]
            </Alert>
        </CardBody>
    </Card>
}
else
{
    <Card>
        <CardBody>
            <Form id="DocumentDetailForm">
                @if (IsEditMode && DocumentUpdateData != null)
                {
                    <Validations @ref="@DocumentValidations"
                                Mode="ValidationMode.Auto"
                                Model="@DocumentUpdateData"
                                ValidateOnLoad="false">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Number"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.No" MaxLength="DocumentConsts.NoMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Title"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.Title" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["StorageNumber"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.StorageNumber" MaxLength="DocumentConsts.StorageNumberMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CompletedTime"]</FieldLabel>
                                        <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@DocumentUpdateData.CompletedTime" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DateEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Type"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetTypeMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="TypeMasterDataCollection"
                                                 Value="@SelectedTypeMasterData"
                                                 OnValueChanged="OnTypeIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["UrgencyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUrgencyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UrgencyLevelMasterDataCollection"
                                                 Value="@SelectedUrgencyLevelMasterData"
                                                 OnValueChanged="OnUrgencyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["SecrecyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetSecrecyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="SecrecyLevelMasterDataCollection"
                                                 Value="@SelectedSecrecyLevelMasterData"
                                                 OnValueChanged="OnSecrecyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Field"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetFieldMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="FieldMasterDataCollection"
                                                 Value="@SelectedFieldMasterData"
                                                 OnValueChanged="OnFieldIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Status"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetStatusMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="StatusMasterDataCollection"
                                                 Value="@SelectedStatusMasterData"
                                                 OnValueChanged="OnStatusIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Unit"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUnitLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UnitsCollection"
                                                 Value="@SelectedUnit"
                                                 OnValueChanged="OnUnitIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CurrentStatus"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentUpdateData.CurrentStatus" MaxLength="DocumentConsts.CurrentStatusMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        @if (!IsViewMode)
                        {
                            <Row>
                                <Column ColumnSize="ColumnSize.Is12">
                                    <Field>
                                        <FieldLabel>@L["File"]</FieldLabel>
                                        <FilePicker Multiple="false"
                                                    Upload="OnFileUpload"
                                                    ShowMode="FilePickerShowMode.List"
                                                    Disabled="true"
                                                    MaxFileSize="52428800">
                                            <ButtonsTemplate>
                                                <Progress Value="@FilePickerProgress" />
                                                <Buttons>
                                                    <Button Clicked="@context.Clear" Color="Color.Warning">
                                                        <Icon Name="IconName.Clear" /> @L["Clear"]
                                                    </Button>
                                                    <Button Clicked="@context.Upload" Color="Color.Primary" Disabled="@(SelectedFile == null || IsUploading)">
                                                        <Icon Name="IconName.FileUpload" /> @L["Upload"]
                                                    </Button>
                                                </Buttons>
                                            </ButtonsTemplate>
                                        </FilePicker>
                                        @if (!string.IsNullOrEmpty(UploadedFilePath))
                                        {
                                            <Alert Color="Color.Success" Dismissible="false" Class="mt-2">
                                                <Icon Name="IconName.CheckCircle" Class="me-2" />
                                                @L["FileUploadedSuccessfully"]: @System.IO.Path.GetFileName(UploadedFilePath)
                                            </Alert>
                                        }
                                    </Field>
                                </Column>
                            </Row>
                        }
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <div class="d-flex justify-content-end gap-2">
                                    @if (!IsViewMode)
                                    {
                                        <Button Color="Color.Primary" Clicked="OnSave">
                                            <Icon Name="IconName.Save" Class="me-2" />
                                            @L["Save"]
                                        </Button>
                                        <Button Color="Color.Secondary" Clicked="OnCancel">
                                            @L["Cancel"]
                                        </Button>
                                    }
                                    else
                                    {
                                        <Button Color="Color.Secondary" Clicked="OnBack">
                                            @L["Back"]
                                        </Button>
                                        @if (CanEditDocument)
                                        {
                                            <Button Color="Color.Primary" Clicked="OnEdit">
                                                @L["Edit"]
                                            </Button>
                                        }
                                    }
                                </div>
                            </Column>
                        </Row>
                    </Validations>
                }
                else if (DocumentCreateData != null)
                {
                    <Validations @ref="@DocumentValidations"
                                Mode="ValidationMode.Auto"
                                Model="@DocumentCreateData"
                                ValidateOnLoad="false">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Number"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.No" MaxLength="DocumentConsts.NoMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Title"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.Title" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["StorageNumber"] *</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.StorageNumber" MaxLength="DocumentConsts.StorageNumberMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CompletedTime"]</FieldLabel>
                                        <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@DocumentCreateData.CompletedTime" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DateEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Type"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetTypeMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="TypeMasterDataCollection"
                                                 Value="@SelectedTypeMasterData"
                                                 OnValueChanged="OnTypeIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["UrgencyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUrgencyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UrgencyLevelMasterDataCollection"
                                                 Value="@SelectedUrgencyLevelMasterData"
                                                 OnValueChanged="OnUrgencyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["SecrecyLevel"] *</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetSecrecyLevelMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="SecrecyLevelMasterDataCollection"
                                                 Value="@SelectedSecrecyLevelMasterData"
                                                 OnValueChanged="OnSecrecyLevelIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Field"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetFieldMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="FieldMasterDataCollection"
                                                 Value="@SelectedFieldMasterData"
                                                 OnValueChanged="OnFieldIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Status"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetStatusMasterDataLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="StatusMasterDataCollection"
                                                 Value="@SelectedStatusMasterData"
                                                 OnValueChanged="OnStatusIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
                                <Field>
                                    <FieldLabel>@L["Unit"]</FieldLabel>
                                    <div class="hc-select2-full">
                                        <Select2 IdSelector="c => c.Id.ToString()"
                                                 TextSelector="c => c.DisplayName"
                                                 FilterFunction="GetUnitLookupAsync"
                                                 GetElementById="async (items, id, token) => items.FirstOrDefault(x => x.Id.ToString() == id)!"
                                                 Datasource="UnitsCollection"
                                                 Value="@SelectedUnit"
                                                 OnValueChanged="OnUnitIdChanged"
                                                 Cache="__MemoryCache"
                                                 Multiselect="false"
                                                 Disabled="@IsViewMode" />
                                    </div>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CurrentStatus"]</FieldLabel>
                                        <TextEdit @bind-Text="@DocumentCreateData.CurrentStatus" MaxLength="DocumentConsts.CurrentStatusMaxLength" Disabled="@IsViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        @if (!IsViewMode)
                        {
                            <Row>
                                <Column ColumnSize="ColumnSize.Is12">
                                    <Field>
                                        <FieldLabel>@L["File"] *</FieldLabel>
                                        <FilePicker Multiple="false"
                                                    Upload="OnFileUpload"
                                                    ShowMode="FilePickerShowMode.List"
                                                    Disabled="@(IsEditMode && CurrentDocument != null)"
                                                    MaxFileSize="52428800">
                                            <ButtonsTemplate>
                                                <Progress Value="@FilePickerProgress" />
                                                <Buttons>
                                                    <Button Clicked="@context.Clear" Color="Color.Warning">
                                                        <Icon Name="IconName.Clear" /> @L["Clear"]
                                                    </Button>
                                                    <Button Clicked="@context.Upload" Color="Color.Primary" Disabled="@(SelectedFile == null || IsUploading)">
                                                        <Icon Name="IconName.FileUpload" /> @L["Upload"]
                                                    </Button>
                                                </Buttons>
                                            </ButtonsTemplate>
                                        </FilePicker>
                                        @if (!string.IsNullOrEmpty(UploadedFilePath))
                                        {
                                            <Alert Color="Color.Success" Dismissible="false" Class="mt-2">
                                                <Icon Name="IconName.CheckCircle" Class="me-2" />
                                                @L["FileUploadedSuccessfully"]: @System.IO.Path.GetFileName(UploadedFilePath)
                                            </Alert>
                                        }
                                    </Field>
                                </Column>
                            </Row>
                        }
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <div class="d-flex justify-content-end gap-2">
                                    @if (!IsViewMode)
                                    {
                                        <Button Color="Color.Primary" Clicked="OnSave">
                                            <Icon Name="IconName.Save" Class="me-2" />
                                            @L["Save"]
                                        </Button>
                                        <Button Color="Color.Secondary" Clicked="OnCancel">
                                            @L["Cancel"]
                                        </Button>
                                    }
                                    else
                                    {
                                        <Button Color="Color.Secondary" Clicked="OnBack">
                                            @L["Back"]
                                        </Button>
                                        @if (CanEditDocument)
                                        {
                                            <Button Color="Color.Primary" Clicked="OnEdit">
                                                @L["Edit"]
                                            </Button>
                                        }
                                    }
                                </div>
                            </Column>
                        </Row>
                    </Validations>
                }
            </Form>
        </CardBody>
    </Card>
}
