@page "/notification-receivers"
@attribute [Authorize(HCPermissions.NotificationReceivers.Default)]
@using HC.NotificationReceivers
@using HC.NotificationReceivers
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HCComponentBase
@inject INotificationReceiversAppService NotificationReceiversAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["NotificationReceivers"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="NotificationReceiverSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="NotificationReceiverSearchForm" Clicked="GetNotificationReceiversAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IsRead"]</FieldLabel>
                        <Select TValue="bool?"
		SelectedValue="@Filter.IsRead"
		SelectedValueChanged="@OnIsReadChangedAsync">
<SelectItem></SelectItem>
<SelectItem Value="true">@L["Yes"]</SelectItem>
<SelectItem Value="false">@L["No"]</SelectItem>
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinReadAt"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.ReadAtMin"
            DateChanged="@OnReadAtMinChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxReadAt"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.ReadAtMax"
            DateChanged="@OnReadAtMaxChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Notification"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.NotificationId"
		SelectedValueChanged="@OnNotificationIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in NotificationsCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IdentityUser"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.IdentityUserId"
		SelectedValueChanged="@OnIdentityUserIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in IdentityUsersCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>
        </Row>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        <Div  Visibility="@(SelectedNotificationReceivers.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
              <p class="lead mb-0">
                @if (AllNotificationReceiversSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedNotificationReceivers.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedNotificationReceivers.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
              </p>
            <div>
                @if ((SelectedNotificationReceivers.Count == PageSize || SelectedNotificationReceivers.Count == NotificationReceiverList.Count) && TotalCount > SelectedNotificationReceivers.Count)
                {
                    if (!AllNotificationReceiversSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedNotificationReceiversAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedNotificationReceivers.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="NotificationReceiverWithNavigationPropertiesDto"
                  @ref="DataGridRef"
                  Data="NotificationReceiverList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedNotificationReceivers"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedNotificationReceiverRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                @if (CanDeleteNotificationReceiver && NotificationReceiverList.Any())
                {
                    <DataGridMultiSelectColumn TItem="NotificationReceiverWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                <DataGridEntityActionsColumn TItem="NotificationReceiverWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="NotificationReceiverWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="NotificationReceiverWithNavigationPropertiesDto"
                                          Visible="@CanEditNotificationReceiver"
                                          Clicked="async () => await OpenEditNotificationReceiverModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="NotificationReceiverWithNavigationPropertiesDto"
                                          Visible="@CanDeleteNotificationReceiver"
                                          Clicked="() => DeleteNotificationReceiverAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
              <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                      Field="NotificationReceiver.IsRead"
                      Caption="@L["IsRead"]">
                    <DisplayTemplate>
                        @if (context.NotificationReceiver.IsRead)
                        {
                            <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                        }
                        else
                        {
                            <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                        }
                    </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                      Field="NotificationReceiver.ReadAt"
                      Caption="@L["ReadAt"]">
                  <DisplayTemplate>
                        @(context.NotificationReceiver.ReadAt.HasValue ? context.NotificationReceiver.ReadAt.Value.ToShortDateString() : string.Empty)
                  </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                      Field="Notification.Title"
                      Caption="@L["Notification"]">
              </DataGridColumn>
              <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                      Field="IdentityUser.Name"
                      Caption="@L["IdentityUser"]">
              </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateNotificationReceiverModal" Closing="@CreateNotificationReceiverModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateNotificationReceiverForm">
            <ModalHeader>
                <ModalTitle>@L["NewNotificationReceiver"]</ModalTitle>
                <CloseButton Clicked="CloseCreateNotificationReceiverModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewNotificationReceiverValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewNotificationReceiver"
                            ValidateOnLoad="false">
                    <Field>
                        <Check TValue="bool" @bind-Checked="@NewNotificationReceiver.IsRead"  Autofocus="true">@L["IsRead"]</Check>
                    </Field>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ReadAt"]</FieldLabel>
                            <DateEdit TValue="DateTime?" InputMode="DateInputMode.Date" @bind-Date="@NewNotificationReceiver.ReadAt"  >
                               <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["Notification"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewNotificationReceiver.NotificationId">
                            @foreach (var notification in NotificationsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(notification.Id)">
                                    @(notification.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["IdentityUser"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewNotificationReceiver.IdentityUserId">
                            @foreach (var identityUser in IdentityUsersCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(identityUser.Id)">
                                    @(identityUser.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateNotificationReceiverModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateNotificationReceiverForm" Clicked="CreateNotificationReceiverAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditNotificationReceiverModal" Closing="@EditNotificationReceiverModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditNotificationReceiverForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditNotificationReceiverModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingNotificationReceiverValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingNotificationReceiver"
                            ValidateOnLoad="false">
                    <Field>
                        <Check TValue="bool" @bind-Checked="@EditingNotificationReceiver.IsRead"  Autofocus="true">@L["IsRead"]</Check>
                    </Field>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ReadAt"]</FieldLabel>
                            <DateEdit TValue="DateTime?" InputMode="DateInputMode.Date" @bind-Date="@EditingNotificationReceiver.ReadAt"  >
                               <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["Notification"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingNotificationReceiver.NotificationId">
                            @foreach (var notification in NotificationsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(notification.Id)">
                                    @(notification.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["IdentityUser"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingNotificationReceiver.IdentityUserId">
                            @foreach (var identityUser in IdentityUsersCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(identityUser.Id)">
                                    @(identityUser.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditNotificationReceiverModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditNotificationReceiverForm" Clicked="UpdateNotificationReceiverAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>