@page "/notifications-read"
@attribute [Authorize(HCPermissions.NotificationReceivers.Default)]
@using HC.NotificationReceivers
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@inherits HCComponentBase
@inject INotificationReceiversAppService NotificationReceiversAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["ReadNotifications"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Row>
            <div class="col col-md-12">
                <div class="mb-3">
                    <Form id="NotificationSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                          Autofocus="true"
                                          Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="NotificationSearchForm" Clicked="GetNotificationsAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
        </Row>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="NotificationReceiverWithNavigationPropertiesDto"
                  @ref="DataGridRef"
                  Data="NotificationList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>
            <DataGridColumns>
                <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                                Field="Notification.Title"
                                Caption="@L["Title"]">
                    <DisplayTemplate>
                        @context.Notification?.Title
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                                Field="Notification.Content"
                                Caption="@L["Content"]">
                    <DisplayTemplate>
                        @context.Notification?.Content
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                                Field="Notification.SourceType"
                                Caption="@L["SourceType"]">
                    <DisplayTemplate>
                        @if (context.Notification != null)
                        {
                            @L[$"Enum:NotificationSourceType.{context.Notification.SourceType}"]
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                                Field="Notification.EventType"
                                Caption="@L["EventType"]">
                    <DisplayTemplate>
                        @if (context.Notification != null)
                        {
                            @L[$"Enum:NotificationEventType.{context.Notification.EventType}"]
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                                Field="Notification.Priority"
                                Caption="@L["Priority"]">
                    <DisplayTemplate>
                        @context.Notification?.Priority
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NotificationReceiverWithNavigationPropertiesDto"
                                Field="NotificationReceiver.ReadAt"
                                Caption="@L["ReadAt"]">
                    <DisplayTemplate>
                        @context.NotificationReceiver.ReadAt?.ToString("g")
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

