@page "/project-members"
@attribute [Authorize(HCPermissions.ProjectMembers.Default)]
@using HC.ProjectMembers
@using HC.ProjectMembers
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HCComponentBase
@inject IProjectMembersAppService ProjectMembersAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["ProjectMembers"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="ProjectMemberSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="ProjectMemberSearchForm" Clicked="GetProjectMembersAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MemberRole"]</FieldLabel>
                        <TextEdit Text="@Filter.MemberRole" TextChanged="@OnMemberRoleChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinJoinedAt"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.JoinedAtMin"
            DateChanged="@OnJoinedAtMinChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxJoinedAt"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
            InputMode="DateInputMode.Date"
            Date="@Filter.JoinedAtMax"
            DateChanged="@OnJoinedAtMaxChangedAsync"
            Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Project"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.ProjectId"
		SelectedValueChanged="@OnProjectIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in ProjectsCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IdentityUser"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.UserId"
		SelectedValueChanged="@OnUserIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in IdentityUsersCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>
        </Row>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        <Div  Visibility="@(SelectedProjectMembers.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
              <p class="lead mb-0">
                @if (AllProjectMembersSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedProjectMembers.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedProjectMembers.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
              </p>
            <div>
                @if ((SelectedProjectMembers.Count == PageSize || SelectedProjectMembers.Count == ProjectMemberList.Count) && TotalCount > SelectedProjectMembers.Count)
                {
                    if (!AllProjectMembersSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedProjectMembersAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedProjectMembers.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="ProjectMemberWithNavigationPropertiesDto"
                  @ref="DataGridRef"
                  Data="ProjectMemberList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedProjectMembers"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedProjectMemberRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                @if (CanDeleteProjectMember && ProjectMemberList.Any())
                {
                    <DataGridMultiSelectColumn TItem="ProjectMemberWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                <DataGridEntityActionsColumn TItem="ProjectMemberWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="ProjectMemberWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ProjectMemberWithNavigationPropertiesDto"
                                          Visible="@CanEditProjectMember"
                                          Clicked="async () => await OpenEditProjectMemberModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="ProjectMemberWithNavigationPropertiesDto"
                                          Visible="@CanDeleteProjectMember"
                                          Clicked="() => DeleteProjectMemberAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
              <DataGridColumn TItem="ProjectMemberWithNavigationPropertiesDto"
                      Field="ProjectMember.MemberRole"
                      Caption="@L["MemberRole"]">
              </DataGridColumn>
              <DataGridColumn TItem="ProjectMemberWithNavigationPropertiesDto"
                      Field="ProjectMember.JoinedAt"
                      Caption="@L["JoinedAt"]">
                  <DisplayTemplate>
                        @context.ProjectMember.JoinedAt.ToShortDateString()
                  </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="ProjectMemberWithNavigationPropertiesDto"
                      Field="Project.Name"
                      Caption="@L["Project"]">
              </DataGridColumn>
              <DataGridColumn TItem="ProjectMemberWithNavigationPropertiesDto"
                      Field="User.Name"
                      Caption="@L["User"]">
              </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateProjectMemberModal" Closing="@CreateProjectMemberModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateProjectMemberForm">
            <ModalHeader>
                <ModalTitle>@L["NewProjectMember"]</ModalTitle>
                <CloseButton Clicked="CloseCreateProjectMemberModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewProjectMemberValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewProjectMember"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["MemberRole"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewProjectMember.MemberRole" MaxLength="ProjectMemberConsts.MemberRoleMaxLength"  Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["JoinedAt"]</FieldLabel>
                            <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@NewProjectMember.JoinedAt"  >
                               <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["Project"] *</FieldLabel>
                        <Autocomplete Data="@ProjectsCollection"
                                      TItem="LookupDto<Guid>"
                                      TValue="Guid"
                                      TextField="@((item) => item?.DisplayName)"
                                      ValueField="@((item) => item?.Id ?? default)"
                                      SearchChanged="@GetProjectCollectionLookupAsync"
                                      @bind-SelectedValue="@NewProjectMember.ProjectId"
                                      Placeholder="&#8212;" />
                    </Field>
                    <Field>
                        <FieldLabel>@L["IdentityUser"] *</FieldLabel>
                        <Autocomplete Data="@IdentityUsersCollection"
                                      TItem="LookupDto<Guid>"
                                      TValue="Guid"
                                      TextField="@((item) => item?.DisplayName)"
                                      ValueField="@((item) => item?.Id ?? default)"
                                      SearchChanged="@GetIdentityUserCollectionLookupAsync"
                                      @bind-SelectedValue="@NewProjectMember.UserId"
                                      Placeholder="&#8212;" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateProjectMemberModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateProjectMemberForm" Clicked="CreateProjectMemberAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditProjectMemberModal" Closing="@EditProjectMemberModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditProjectMemberForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditProjectMemberModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingProjectMemberValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingProjectMember"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["MemberRole"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingProjectMember.MemberRole" MaxLength="ProjectMemberConsts.MemberRoleMaxLength"  Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["JoinedAt"]</FieldLabel>
                            <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@EditingProjectMember.JoinedAt"  >
                               <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["Project"] *</FieldLabel>
                        <Autocomplete Data="@ProjectsCollection"
                                      TItem="LookupDto<Guid>"
                                      TValue="Guid"
                                      TextField="@((item) => item?.DisplayName)"
                                      ValueField="@((item) => item?.Id ?? default)"
                                      SearchChanged="@GetProjectCollectionLookupAsync"
                                      @bind-SelectedValue="@EditingProjectMember.ProjectId"
                                      Placeholder="&#8212;" />
                    </Field>
                    <Field>
                        <FieldLabel>@L["IdentityUser"] *</FieldLabel>
                        <Autocomplete Data="@IdentityUsersCollection"
                                      TItem="LookupDto<Guid>"
                                      TValue="Guid"
                                      TextField="@((item) => item?.DisplayName)"
                                      ValueField="@((item) => item?.Id ?? default)"
                                      SearchChanged="@GetIdentityUserCollectionLookupAsync"
                                      @bind-SelectedValue="@EditingProjectMember.UserId"
                                      Placeholder="&#8212;" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditProjectMemberModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditProjectMemberForm" Clicked="UpdateProjectMemberAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>