@page "/sectors"
@attribute [Authorize(HCPermissions.MasterDatas.SectorDefault)]
@using HC.MasterDatas
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits MasterDataPageBase
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Sector"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="MasterDataSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="MasterDataSearchForm" Clicked="GetMasterDatasAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="mb-3">
                    <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                            Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                        <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
                    </Button>
                </div>
            </div>
            <div style="display: @(!ShowAdvancedFilters ? "none" : "block")" class="mt-3">
                <Row>
                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>@L["Code"]</FieldLabel>
                            <TextEdit Text="@Filter.Code" TextChanged="@OnCodeChangedAsync" />
                        </Field>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit Text="@Filter.Name" TextChanged="@OnNameChangedAsync" />
                        </Field>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>@L["MinSortOrder"]</FieldLabel>
                            <NumericEdit TValue="int?"
             Value="@Filter.SortOrderMin"
             ValueChanged="@OnSortOrderMinChangedAsync" />
                        </Field>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>@L["MaxSortOrder"]</FieldLabel>
                            <NumericEdit TValue="int?"
             Value="@Filter.SortOrderMax"
             ValueChanged="@OnSortOrderMaxChangedAsync" />
                        </Field>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>@L["IsActive"]</FieldLabel>
                            <Select TValue="bool?"
                                    SelectedValue="@Filter.IsActive"
                                    SelectedValueChanged="@OnIsActiveChangedAsync">
                                <SelectItem></SelectItem>
                                <SelectItem Value="true">@L["Yes"]</SelectItem>
                                <SelectItem Value="false">@L["No"]</SelectItem>
                            </Select>
                        </Field>
                    </Column>
                </Row>
            </div>
        </Row>
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <Div Visibility="@(SelectedMasterDatas.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
            <p class="lead mb-0">
                @if (AllMasterDatasSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedMasterDatas.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedMasterDatas.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
            </p>
            <div>
                @if ((SelectedMasterDatas.Count == PageSize || SelectedMasterDatas.Count == MasterDataList.Count) && TotalCount > SelectedMasterDatas.Count)
                {
                    if (!AllMasterDatasSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedMasterDatasAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedMasterDatas.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="MasterDataDto"
                  @ref="DataGridRef"
                  Data="MasterDataList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedMasterDatas"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedMasterDataRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>
            <DataGridColumns>
                @if (CanDeleteMasterData && MasterDataList.Any())
                {
                    <DataGridMultiSelectColumn TItem="MasterDataDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                <DataGridEntityActionsColumn TItem="MasterDataDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="MasterDataDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="MasterDataDto"
                                          Visible="@CanEditMasterData"
                                          Clicked="async () => await OpenEditMasterDataModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="MasterDataDto"
                                          Visible="@CanDeleteMasterData"
                                          Clicked="() => DeleteMasterDataAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="MasterDataDto"
                        Field="Code"
                        Caption="@L["Code"]">
                </DataGridColumn>
                <DataGridColumn TItem="MasterDataDto"
                        Field="Name"
                        Caption="@L["Name"]">
                </DataGridColumn>
                <DataGridColumn TItem="MasterDataDto"
                        Field="SortOrder"
                        Caption="@L["SortOrder"]">
                </DataGridColumn>
                <DataGridColumn TItem="MasterDataDto"
                        Field="IsActive"
                        Caption="@L["IsActive"]">
                    <DisplayTemplate>
                        @if (context.IsActive)
                        {
                            <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                        }
                        else
                        {
                            <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                        }
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateMasterDataModal" Closing="@CreateMasterDataModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="CreateMasterDataForm">
            <ModalHeader>
                <ModalTitle>@L["NewMasterData"]</ModalTitle>
                <CloseButton Clicked="CloseCreateMasterDataModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewMasterDataValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewMasterData"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Code"] *</FieldLabel>
                            <MemoEdit @bind-Text="@NewMasterData.Code" MaxLength="MasterDataConsts.CodeMaxLength" Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewMasterData.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["SortOrder"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@NewMasterData.SortOrder" Min="MasterDataConsts.SortOrderMinLength" Max="MasterDataConsts.SortOrderMaxLength" Decimals="0">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericPicker>
                        </Field>
                    </Validation>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@NewMasterData.IsActive">@L["IsActive"]</Check>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateMasterDataModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateMasterDataForm" Clicked="CreateMasterDataAsync"/>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditMasterDataModal" Closing="@EditMasterDataModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="EditMasterDataForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditMasterDataModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingMasterDataValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingMasterData"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Code"] *</FieldLabel>
                            <MemoEdit @bind-Text="@EditingMasterData.Code" MaxLength="MasterDataConsts.CodeMaxLength" Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingMasterData.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["SortOrder"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@EditingMasterData.SortOrder" Min="MasterDataConsts.SortOrderMinLength" Max="MasterDataConsts.SortOrderMaxLength" Decimals="0">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericPicker>
                        </Field>
                    </Validation>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@EditingMasterData.IsActive">@L["IsActive"]</Check>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditMasterDataModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditMasterDataForm" Clicked="UpdateMasterDataAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
@code {
    protected override string DefaultType => "LINH_VUC_VB";
    protected override string PageTitle => L["Sector"];
    protected override string PageRoute => "/sectors";
}

