@page "/survey-files"
@attribute [Authorize(HCPermissions.SurveyFiles.Default)]
@using HC.SurveyFiles
@using HC.SurveyFiles
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HCComponentBase
@inject ISurveyFilesAppService SurveyFilesAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["SurveyFiles"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="SurveyFileSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="SurveyFileSearchForm" Clicked="GetSurveyFilesAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["UploaderType"]</FieldLabel>
                        <Select TValue="UploaderType?" 
                                    SelectedValue="@Filter.UploaderType"
                                    SelectedValueChanged="OnUploaderTypeChangedAsync">
                                <ChildContent>
                                    <SelectItem Value="@("")">@L["All"]</SelectItem>
                                    @foreach (var item in Enum.GetValues<UploaderType>())
                                    {
                                        <SelectItem TValue="UploaderType" Value="@item">
                                            @L[$"Enum:UploaderType.{item}"]
                                        </SelectItem>
                                    }
                                </ChildContent>
                            </Select>                      
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["FileName"]</FieldLabel>
                        <TextEdit Text="@Filter.FileName" TextChanged="@OnFileNameChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["FilePath"]</FieldLabel>
                        <TextEdit Text="@Filter.FilePath" TextChanged="@OnFilePathChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinFileSize"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.FileSizeMin"
             ValueChanged="@OnFileSizeMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxFileSize"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.FileSizeMax"
             ValueChanged="@OnFileSizeMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MimeType"]</FieldLabel>
                        <TextEdit Text="@Filter.MimeType" TextChanged="@OnMimeTypeChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["FileType"]</FieldLabel>
                        <TextEdit Text="@Filter.FileType" TextChanged="@OnFileTypeChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["SurveySession"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.SurveySessionId"
		SelectedValueChanged="@OnSurveySessionIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in SurveySessionsCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>
        </Row>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        <Div  Visibility="@(SelectedSurveyFiles.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
              <p class="lead mb-0">
                @if (AllSurveyFilesSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedSurveyFiles.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedSurveyFiles.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
              </p>
            <div>
                @if ((SelectedSurveyFiles.Count == PageSize || SelectedSurveyFiles.Count == SurveyFileList.Count) && TotalCount > SelectedSurveyFiles.Count)
                {
                    if (!AllSurveyFilesSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedSurveyFilesAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedSurveyFiles.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="SurveyFileWithNavigationPropertiesDto"
                  @ref="DataGridRef"
                  Data="SurveyFileList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedSurveyFiles"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedSurveyFileRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                @if (CanDeleteSurveyFile && SurveyFileList.Any())
                {
                    <DataGridMultiSelectColumn TItem="SurveyFileWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
              <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto"
                      Field="SurveyFile.UploaderType"
                      Caption="@L["UploaderType"]">
                        <DisplayTemplate>
                            @L[$"Enum:UploaderType.{context.SurveyFile.UploaderType}"]
                        </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto"
                      Field="SurveyFile.FileName"
                      Caption="@L["FileName"]">
              </DataGridColumn>
              <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto"
                      Field="SurveyFile.FilePath"
                      Caption="@L["FilePath"]">
              </DataGridColumn>
              <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto"
                      Field="SurveyFile.FileSize"
                      Caption="@L["FileSize"]">
              </DataGridColumn>
              <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto"
                      Field="SurveyFile.MimeType"
                      Caption="@L["MimeType"]">
              </DataGridColumn>
              <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto"
                      Field="SurveyFile.FileType"
                      Caption="@L["FileType"]">
              </DataGridColumn>
              <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto"
                      Field="SurveySession.SessionDisplay"
                      Caption="@L["SurveySession"]">
              </DataGridColumn>
                <DataGridColumn TItem="SurveyFileWithNavigationPropertiesDto" Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <div class="hc-action-icons">
                            @if (CanEditSurveyFile)
                            {
                                <i class="bi bi-pencil-fill hc-action-icon hc-action-edit" 
                                   title="@L["Edit"]"
                                   @onclick="@(() => OpenEditSurveyFileModalAsync(context))"
                                   style="cursor: pointer;"></i>
                            }
                            @if (CanDeleteSurveyFile)
                            {
                                <i class="bi bi-trash-fill hc-action-icon hc-action-delete" 
                                   title="@L["Delete"]"
                                   @onclick="@(() => DeleteSurveyFileWithConfirmationAsync(context))"
                                   style="cursor: pointer;"></i>
                            }
                        </div>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateSurveyFileModal" Closing="@CreateSurveyFileModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateSurveyFileForm">
            <ModalHeader>
                <ModalTitle>@L["NewSurveyFile"]</ModalTitle>
                <CloseButton Clicked="CloseCreateSurveyFileModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewSurveyFileValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewSurveyFile"
                            ValidateOnLoad="false">
                    <Field>
                        <FieldLabel>@L["UploadFile"]</FieldLabel>
                        <FilePicker @ref="CreateFilePicker"
                                    Multiple="false"
                                    Changed="OnCreateFileChanged"
                                    ShowMode="FilePickerShowMode.List"
                                    MaxFileSize="52428800">
                            <ButtonsTemplate>
                                @* <Progress Value="@FilePickerProgress" /> *@
                                <Buttons>
                                    <Button Clicked="@context.Clear" Color="Color.Warning">
                                        <Icon Name="IconName.Clear" /> @L["Clear"]
                                    </Button>
                                </Buttons>
                            </ButtonsTemplate>
                        </FilePicker>
                        @if (!string.IsNullOrEmpty(UploadedFilePath))
                        {
                            <div class="text-success mt-2">
                                <Icon Name="IconName.Check" /> @L["FileUploaded"]: @SelectedFile?.Name
                            </div>
                        }
                    </Field>
                    <Field>
                        <FieldLabel>@L["UploaderType"] *</FieldLabel>
                        <Select TValue="UploaderType" 
                                SelectedValue="@NewSurveyFile.UploaderType"
                                SelectedValueChanged="@((UploaderType value) => { NewSurveyFile.UploaderType = value; })">
                            <ChildContent>
                                @foreach (var item in Enum.GetValues<UploaderType>())
                                {
                                    <SelectItem TValue="UploaderType" Value="@item">
                                        @L[$"Enum:UploaderType.{item}"]
                                    </SelectItem>
                                }
                            </ChildContent>
                        </Select>
                    </Field>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FileName"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewSurveyFile.FileName"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FilePath"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewSurveyFile.FilePath"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FileSize"] (KB)</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@NewSurveyFile.FileSize"  Decimals="0"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["MimeType"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewSurveyFile.MimeType"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FileType"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewSurveyFile.FileType"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["SurveySession"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewSurveyFile.SurveySessionId">
                            @foreach (var surveySession in SurveySessionsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(surveySession.Id)">
                                    @(surveySession.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateSurveyFileModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateSurveyFileForm" Clicked="CreateSurveyFileAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditSurveyFileModal" Closing="@EditSurveyFileModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditSurveyFileForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditSurveyFileModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingSurveyFileValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingSurveyFile"
                            ValidateOnLoad="false">
                    <Field>
                        <FieldLabel>@L["UploadFile"]</FieldLabel>
                        <FilePicker @ref="EditFilePicker"
                                    Multiple="false"
                                    Changed="OnEditFileChanged"
                                    ShowMode="FilePickerShowMode.List"
                                    MaxFileSize="52428800">
                            <ButtonsTemplate>
                                @* <Progress Value="@FilePickerProgress" /> *@
                                <Buttons>
                                    <Button Clicked="@context.Clear" Color="Color.Warning">
                                        <Icon Name="IconName.Clear" /> @L["Clear"]
                                    </Button>
                                </Buttons>
                            </ButtonsTemplate>
                        </FilePicker>
                        @if (!string.IsNullOrEmpty(EditingSurveyFile.FilePath) && string.IsNullOrEmpty(UploadedFilePath))
                        {
                            <div class="text-muted mt-2">
                                <Icon Name="IconName.FileAlt" /> @L["CurrentFile"]: @EditingSurveyFile.FilePath
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(UploadedFilePath))
                        {
                            <div class="text-success mt-2">
                                <Icon Name="IconName.Check" /> @L["NewFileUploaded"]: @SelectedFile?.Name
                            </div>
                        }
                    </Field>
                    <Field>
                        <FieldLabel>@L["UploaderType"] *</FieldLabel>
                        <Select TValue="UploaderType" 
                                SelectedValue="@EditingSurveyFile.UploaderType"
                                SelectedValueChanged="@((UploaderType value) => { EditingSurveyFile.UploaderType = value; })">
                            <ChildContent>
                                @foreach (var item in Enum.GetValues<UploaderType>())
                                {
                                    <SelectItem TValue="UploaderType" Value="@item">
                                        @L[$"Enum:UploaderType.{item}"]
                                    </SelectItem>
                                }
                            </ChildContent>
                        </Select>
                    </Field>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FileName"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingSurveyFile.FileName"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FilePath"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingSurveyFile.FilePath"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FileSize"] (KB)</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@EditingSurveyFile.FileSize"  Decimals="0"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["MimeType"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingSurveyFile.MimeType"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FileType"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingSurveyFile.FileType"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["SurveySession"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingSurveyFile.SurveySessionId">
                            @foreach (var surveySession in SurveySessionsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(surveySession.Id)">
                                    @(surveySession.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditSurveyFileModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditSurveyFileForm" Clicked="UpdateSurveyFileAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>

<style>
    /* PDF Viewer Modal - Ensure it stays within modal */
    .pdf-viewer-modal .modal-content {
        position: relative;
        z-index: 1050;
    }

    .pdf-viewer-modal .modal-header {
        position: relative;
        z-index: 1051;
        background-color: white;
    }

    .pdf-viewer-modal-body {
        position: relative;
        overflow: hidden;
        max-height: 70vh;
        padding: 1rem;
    }

    .pdf-viewer-modal-body .b-pdf-viewer-container {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    /* FilePicker Container - Purple dropzone theme */
    .b-file-picker {
        background-color: #f8f7fc !important;
        border: 2px dashed #8b5cf6 !important;
        border-radius: 12px !important;
        padding: 2rem !important;
        text-align: center !important;
        transition: all 0.3s ease !important;
        position: relative !important;
    }

    .b-file-picker:hover {
        background-color: #f3f0ff !important;
        border-color: #7c3aed !important;
    }

    /* Input group styling */
    .b-file-picker .input-group.form-file {
        background-color: transparent !important;
        border: 1px solid #8b5cf6 !important;
        border-radius: 8px !important;
        justify-content: center !important;
        margin-bottom: 0.5rem !important;
        overflow: hidden !important;
    }

    /* Label/Text styling - Purple */
    .b-file-picker .input-group-text {
        background-color: #8b5cf6 !important;
        border: 1px solid #8b5cf6 !important;
        border-right: none !important;
        padding: 0.5rem 1rem !important;
        color: #ffffff !important;
    }

    .b-file-picker .input-group-text .text-muted {
        color: white !important;
        font-weight: 500 !important;
        font-size: 1rem !important;
    }

    /* File input styling - Ensure it's clickable */
    .b-file-picker .form-control[type="file"] {
        border: 1px solid #8b5cf6 !important;
        border-left: none !important;
        background-color: #ffffff !important;
        color: #8b5cf6 !important;
        cursor: pointer !important;
        padding: 0.5rem !important;
        position: relative !important;
        z-index: 1 !important;
        pointer-events: auto !important;
        opacity: 1 !important;
        visibility: visible !important;
        border-radius: 0 8px 8px 0 !important;
    }

    .b-file-picker .form-control[type="file"]::file-selector-button {
        background-color: #8b5cf6 !important;
        color: #ffffff !important;
        border: none !important;
        padding: 0.5rem 1rem !important;
        border-radius: 6px !important;
        font-weight: 600 !important;
        cursor: pointer !important;
        margin-right: 0.75rem !important;
    }

    .b-file-picker .form-control[type="file"]::file-selector-button:hover {
        background-color: #7c3aed !important;
    }

    /* Drop text styling - Purple */
    .b-file-picker .b-text-drop {
        color: #8b5cf6 !important;
        font-weight: 500 !important;
        font-size: 0.95rem !important;
        margin-top: 0.75rem !important;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        border-radius: 12px !important;
    }

    /* File list items - Uploading state */
    .b-file-picker .b-file-picker-item {
        border: 1px solid #e5e7eb !important;
        border-radius: 8px !important;
        padding: 0.75rem !important;
        margin-bottom: 0.5rem !important;
        background-color: #ffffff !important;
    }

    .b-file-picker .b-file-picker-item .b-file-picker-item-name {
        color: #111827 !important;
        font-weight: 500 !important;
    }

    /* Progress bar styling - Purple */
    .b-file-picker .b-progress {
        margin-top: 0.5rem !important;
        height: 8px !important;
        border-radius: 4px !important;
        background-color: #e5e7eb !important;
    }

    .b-file-picker .b-progress-bar {
        background-color: #8b5cf6 !important;
        border-radius: 4px !important;
    }

    /* FilePicker List - Uploaded files (success state - Green) */
    .b-file-picker .b-file-picker-item.b-file-picker-item-success,
    .b-file-picker .b-file-picker-item[data-state="success"] {
        background-color: #ecfdf5 !important;
        border-color: #10b981 !important;
    }

    .b-file-picker .b-file-picker-item.b-file-picker-item-success .b-file-picker-item-name,
    .b-file-picker .b-file-picker-item[data-state="success"] .b-file-picker-item-name {
        color: #065f46 !important;
    }

    /* Upload button styling - Purple */
    .b-file-picker .b-file-picker-buttons .btn-primary,
    .b-file-picker .b-file-picker-buttons button.btn-primary {
        background-color: #7c3aed !important;
        border-color: #7c3aed !important;
        color: #ffffff !important;
        font-weight: 600 !important;
        padding: 0.5rem 1.5rem !important;
        text-transform: uppercase !important;
        letter-spacing: 0.5px !important;
        border-radius: 8px !important;
    }

    .b-file-picker .b-file-picker-buttons .btn-primary:hover,
    .b-file-picker .b-file-picker-buttons button.btn-primary:hover {
        background-color: #6d28d9 !important;
        border-color: #6d28d9 !important;
    }

    .b-file-picker .b-file-picker-buttons .btn-primary:disabled,
    .b-file-picker .b-file-picker-buttons button.btn-primary:disabled {
        background-color: #c4b5fd !important;
        border-color: #c4b5fd !important;
        opacity: 0.6 !important;
    }

    /* File remove button (trash icon) - Red */
    .b-file-picker .b-file-picker-item-remove,
    .b-file-picker .b-file-picker-item .btn-close {
        color: #ef4444 !important;
    }

    .b-file-picker .b-file-picker-item-remove:hover,
    .b-file-picker .b-file-picker-item .btn-close:hover {
        color: #dc2626 !important;
    }

    /* Button group spacing */
    .b-file-picker .b-file-picker-buttons {
        display: flex !important;
        gap: 0.75rem !important;
        margin-top: 1rem !important;
        justify-content: center !important;
    }

    /* Ensure input file is always clickable */
    .b-file-picker .form-control[type="file"]:not([disabled]) {
        pointer-events: auto !important;
        cursor: pointer !important;
    }
    
    .b-file-picker .input-group.form-file {
        pointer-events: auto !important;
    }
</style>