@page "/workflow-step-assignments"
@attribute [Authorize(HCPermissions.WorkflowStepAssignments.Default)]
@using HC.WorkflowStepAssignments
@using HC.WorkflowStepAssignments
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HCComponentBase
@inject IWorkflowStepAssignmentsAppService WorkflowStepAssignmentsAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["WorkflowStepAssignments"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="WorkflowStepAssignmentSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="WorkflowStepAssignmentSearchForm" Clicked="GetWorkflowStepAssignmentsAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IsPrimary"]</FieldLabel>
                        <Select TValue="bool?"
		SelectedValue="@Filter.IsPrimary"
		SelectedValueChanged="@OnIsPrimaryChangedAsync">
<SelectItem></SelectItem>
<SelectItem Value="true">@L["Yes"]</SelectItem>
<SelectItem Value="false">@L["No"]</SelectItem>
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IsActive"]</FieldLabel>
                        <Select TValue="bool?"
		SelectedValue="@Filter.IsActive"
		SelectedValueChanged="@OnIsActiveChangedAsync">
<SelectItem></SelectItem>
<SelectItem Value="true">@L["Yes"]</SelectItem>
<SelectItem Value="false">@L["No"]</SelectItem>
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["WorkflowStepTemplate"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.StepId"
		SelectedValueChanged="@OnStepIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in WorkflowStepTemplatesCollection)
{
	<SelectItem TValue="Guid?" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IdentityUser"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.DefaultUserId"
		SelectedValueChanged="@OnDefaultUserIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in IdentityUsersCollection)
{
	<SelectItem TValue="Guid?" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>
        </Row>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        <Div  Visibility="@(SelectedWorkflowStepAssignments.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
              <p class="lead mb-0">
                @if (AllWorkflowStepAssignmentsSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedWorkflowStepAssignments.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedWorkflowStepAssignments.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
              </p>
            <div>
                @if ((SelectedWorkflowStepAssignments.Count == PageSize || SelectedWorkflowStepAssignments.Count == WorkflowStepAssignmentList.Count) && TotalCount > SelectedWorkflowStepAssignments.Count)
                {
                    if (!AllWorkflowStepAssignmentsSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedWorkflowStepAssignmentsAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedWorkflowStepAssignments.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="WorkflowStepAssignmentWithNavigationPropertiesDto"
                  @ref="DataGridRef"
                  Data="WorkflowStepAssignmentList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedWorkflowStepAssignments"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedWorkflowStepAssignmentRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                @if (CanDeleteWorkflowStepAssignment && WorkflowStepAssignmentList.Any())
                {
                    <DataGridMultiSelectColumn TItem="WorkflowStepAssignmentWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                <DataGridEntityActionsColumn TItem="WorkflowStepAssignmentWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="WorkflowStepAssignmentWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="WorkflowStepAssignmentWithNavigationPropertiesDto"
                                          Visible="@CanEditWorkflowStepAssignment"
                                          Clicked="async () => await OpenEditWorkflowStepAssignmentModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="WorkflowStepAssignmentWithNavigationPropertiesDto"
                                          Visible="@CanDeleteWorkflowStepAssignment"
                                          Clicked="() => DeleteWorkflowStepAssignmentAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
              <DataGridColumn TItem="WorkflowStepAssignmentWithNavigationPropertiesDto"
                      Field="WorkflowStepAssignment.IsPrimary"
                      Caption="@L["IsPrimary"]">
                    <DisplayTemplate>
                        @if (context.WorkflowStepAssignment.IsPrimary)
                        {
                            <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                        }
                        else
                        {
                            <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                        }
                    </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowStepAssignmentWithNavigationPropertiesDto"
                      Field="WorkflowStepAssignment.IsActive"
                      Caption="@L["IsActive"]">
                    <DisplayTemplate>
                        @if (context.WorkflowStepAssignment.IsActive)
                        {
                            <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                        }
                        else
                        {
                            <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                        }
                    </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowStepAssignmentWithNavigationPropertiesDto"
                      Field="Step.Name"
                      Caption="@L["Step"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowStepAssignmentWithNavigationPropertiesDto"
                      Field="DefaultUser.Name"
                      Caption="@L["DefaultUser"]">
              </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateWorkflowStepAssignmentModal" Closing="@CreateWorkflowStepAssignmentModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateWorkflowStepAssignmentForm">
            <ModalHeader>
                <ModalTitle>@L["NewWorkflowStepAssignment"]</ModalTitle>
                <CloseButton Clicked="CloseCreateWorkflowStepAssignmentModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewWorkflowStepAssignmentValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewWorkflowStepAssignment"
                            ValidateOnLoad="false">
                    <Field>
                        <Check TValue="bool" @bind-Checked="@NewWorkflowStepAssignment.IsPrimary"  Autofocus="true">@L["IsPrimary"]</Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@NewWorkflowStepAssignment.IsActive"  >@L["IsActive"]</Check>
                    </Field>
                    <Field>
                        <FieldLabel>@L["WorkflowStepTemplate"]</FieldLabel>
                        <Select TValue="Guid?" @bind-SelectedValue="@NewWorkflowStepAssignment.StepId">
                            <SelectItem TValue="Guid?" Value="null"></SelectItem>
                            @foreach (var workflowStepTemplate in WorkflowStepTemplatesCollection)
                            {
                                <SelectItem TValue="Guid?" Value="@(workflowStepTemplate.Id)">
                                    @(workflowStepTemplate.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["IdentityUser"]</FieldLabel>
                        <Select TValue="Guid?" @bind-SelectedValue="@NewWorkflowStepAssignment.DefaultUserId">
                            <SelectItem TValue="Guid?" Value="null"></SelectItem>
                            @foreach (var identityUser in IdentityUsersCollection)
                            {
                                <SelectItem TValue="Guid?" Value="@(identityUser.Id)">
                                    @(identityUser.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateWorkflowStepAssignmentModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateWorkflowStepAssignmentForm" Clicked="CreateWorkflowStepAssignmentAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditWorkflowStepAssignmentModal" Closing="@EditWorkflowStepAssignmentModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditWorkflowStepAssignmentForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditWorkflowStepAssignmentModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingWorkflowStepAssignmentValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingWorkflowStepAssignment"
                            ValidateOnLoad="false">
                    <Field>
                        <Check TValue="bool" @bind-Checked="@EditingWorkflowStepAssignment.IsPrimary"  Autofocus="true">@L["IsPrimary"]</Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@EditingWorkflowStepAssignment.IsActive"  >@L["IsActive"]</Check>
                    </Field>
                    <Field>
                        <FieldLabel>@L["WorkflowStepTemplate"]</FieldLabel>
                        <Select TValue="Guid?" @bind-SelectedValue="@EditingWorkflowStepAssignment.StepId">
                            <SelectItem TValue="Guid?" Value="null"></SelectItem>
                            @foreach (var workflowStepTemplate in WorkflowStepTemplatesCollection)
                            {
                                <SelectItem TValue="Guid?" Value="@(workflowStepTemplate.Id)">
                                    @(workflowStepTemplate.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["IdentityUser"]</FieldLabel>
                        <Select TValue="Guid?" @bind-SelectedValue="@EditingWorkflowStepAssignment.DefaultUserId">
                            <SelectItem TValue="Guid?" Value="null"></SelectItem>
                            @foreach (var identityUser in IdentityUsersCollection)
                            {
                                <SelectItem TValue="Guid?" Value="@(identityUser.Id)">
                                    @(identityUser.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditWorkflowStepAssignmentModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditWorkflowStepAssignmentForm" Clicked="UpdateWorkflowStepAssignmentAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>