@page "/workflow-templates"
@attribute [Authorize(HCPermissions.WorkflowTemplates.Default)]
@using HC.WorkflowTemplates
@using HC.WorkflowTemplates
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HCComponentBase
@inject IWorkflowTemplatesAppService WorkflowTemplatesAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["WorkflowTemplates"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="WorkflowTemplateSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="WorkflowTemplateSearchForm" Clicked="GetWorkflowTemplatesAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Code"]</FieldLabel>
                        <TextEdit Text="@Filter.Code" TextChanged="@OnCodeChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Name"]</FieldLabel>
                        <TextEdit Text="@Filter.Name" TextChanged="@OnNameChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["OutputFormat"]</FieldLabel>
                        <TextEdit Text="@Filter.OutputFormat" TextChanged="@OnOutputFormatChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Workflow"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.WorkflowId"
		SelectedValueChanged="@OnWorkflowIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in WorkflowsCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>
        </Row>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        <Div  Visibility="@(SelectedWorkflowTemplates.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
              <p class="lead mb-0">
                @if (AllWorkflowTemplatesSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedWorkflowTemplates.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedWorkflowTemplates.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
              </p>
            <div>
                @if ((SelectedWorkflowTemplates.Count == PageSize || SelectedWorkflowTemplates.Count == WorkflowTemplateList.Count) && TotalCount > SelectedWorkflowTemplates.Count)
                {
                    if (!AllWorkflowTemplatesSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedWorkflowTemplatesAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedWorkflowTemplates.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="WorkflowTemplateWithNavigationPropertiesDto"
                  @ref="DataGridRef"
                  Data="WorkflowTemplateList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedWorkflowTemplates"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedWorkflowTemplateRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                @if (CanDeleteWorkflowTemplate && WorkflowTemplateList.Any())
                {
                    <DataGridMultiSelectColumn TItem="WorkflowTemplateWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                <DataGridEntityActionsColumn TItem="WorkflowTemplateWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="WorkflowTemplateWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="WorkflowTemplateWithNavigationPropertiesDto"
                                          Visible="@CanEditWorkflowTemplate"
                                          Clicked="async () => await OpenEditWorkflowTemplateModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="WorkflowTemplateWithNavigationPropertiesDto"
                                          Visible="@CanDeleteWorkflowTemplate"
                                          Clicked="() => DeleteWorkflowTemplateAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
              <DataGridColumn TItem="WorkflowTemplateWithNavigationPropertiesDto"
                      Field="WorkflowTemplate.Code"
                      Caption="@L["Code"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowTemplateWithNavigationPropertiesDto"
                      Field="WorkflowTemplate.Name"
                      Caption="@L["Name"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowTemplateWithNavigationPropertiesDto"
                      Field="WorkflowTemplate.WordTemplatePath"
                      Caption="@L["WordTemplatePath"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowTemplateWithNavigationPropertiesDto"
                      Field="WorkflowTemplate.ContentSchema"
                      Caption="@L["ContentSchema"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowTemplateWithNavigationPropertiesDto"
                      Field="WorkflowTemplate.OutputFormat"
                      Caption="@L["OutputFormat"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowTemplateWithNavigationPropertiesDto"
                      Field="WorkflowTemplate.SignMode"
                      Caption="@L["SignMode"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowTemplateWithNavigationPropertiesDto"
                      Field="Workflow.Name"
                      Caption="@L["Workflow"]">
              </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateWorkflowTemplateModal" Closing="@CreateWorkflowTemplateModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateWorkflowTemplateForm">
            <ModalHeader>
                <ModalTitle>@L["NewWorkflowTemplate"]</ModalTitle>
                <CloseButton Clicked="CloseCreateWorkflowTemplateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewWorkflowTemplateValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewWorkflowTemplate"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Code"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewWorkflowTemplate.Code" MaxLength="WorkflowTemplateConsts.CodeMaxLength"  Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewWorkflowTemplate.Name"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["WordTemplatePath"]</FieldLabel>
                            <TextEdit @bind-Text="@NewWorkflowTemplate.WordTemplatePath"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ContentSchema"]</FieldLabel>
                            <MemoEdit @bind-Text="@NewWorkflowTemplate.ContentSchema"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["OutputFormat"]</FieldLabel>
                            <TextEdit @bind-Text="@NewWorkflowTemplate.OutputFormat" MaxLength="WorkflowTemplateConsts.OutputFormatMaxLength"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["SignMode"]</FieldLabel>
                            <TextEdit @bind-Text="@NewWorkflowTemplate.SignMode" MaxLength="WorkflowTemplateConsts.SignModeMaxLength"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["Workflow"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewWorkflowTemplate.WorkflowId">
                            @foreach (var workflow in WorkflowsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(workflow.Id)">
                                    @(workflow.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateWorkflowTemplateModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateWorkflowTemplateForm" Clicked="CreateWorkflowTemplateAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditWorkflowTemplateModal" Closing="@EditWorkflowTemplateModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditWorkflowTemplateForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditWorkflowTemplateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingWorkflowTemplateValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingWorkflowTemplate"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Code"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingWorkflowTemplate.Code" MaxLength="WorkflowTemplateConsts.CodeMaxLength"  Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingWorkflowTemplate.Name"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["WordTemplatePath"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingWorkflowTemplate.WordTemplatePath"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ContentSchema"]</FieldLabel>
                            <MemoEdit @bind-Text="@EditingWorkflowTemplate.ContentSchema"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["OutputFormat"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingWorkflowTemplate.OutputFormat" MaxLength="WorkflowTemplateConsts.OutputFormatMaxLength"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["SignMode"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingWorkflowTemplate.SignMode" MaxLength="WorkflowTemplateConsts.SignModeMaxLength"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["Workflow"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingWorkflowTemplate.WorkflowId">
                            @foreach (var workflow in WorkflowsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(workflow.Id)">
                                    @(workflow.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditWorkflowTemplateModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditWorkflowTemplateForm" Clicked="UpdateWorkflowTemplateAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>