@page "/workflows"
@attribute [Authorize(HCPermissions.Workflows.Default)]
@using HC.Workflows
@using HC.Workflows
@using HC.Localization
@using HC.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using HC.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HCComponentBase
@inject IWorkflowsAppService WorkflowsAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HCResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Workflows"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
<style>
    tr.table-row-selectable:hover {
        cursor: default;
    }
</style>
@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="WorkflowSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="WorkflowSearchForm" Clicked="GetWorkflowsAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Code"]</FieldLabel>
                        <TextEdit Text="@Filter.Code" TextChanged="@OnCodeChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Name"]</FieldLabel>
                        <TextEdit Text="@Filter.Name" TextChanged="@OnNameChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Description"]</FieldLabel>
                        <TextEdit Text="@Filter.Description" TextChanged="@OnDescriptionChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IsActive"]</FieldLabel>
                        <Select TValue="bool?"
		SelectedValue="@Filter.IsActive"
		SelectedValueChanged="@OnIsActiveChangedAsync">
<SelectItem></SelectItem>
<SelectItem Value="true">@L["Yes"]</SelectItem>
<SelectItem Value="false">@L["No"]</SelectItem>
</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["WorkflowDefinition"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.WorkflowDefinitionId"
		SelectedValueChanged="@OnWorkflowDefinitionIdChangedAsync">
<SelectItem></SelectItem>
@foreach(var item in WorkflowDefinitionsCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}
</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>
        </Row>
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>
@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        <Div  Visibility="@(SelectedWorkflows.Any() ? Visibility.Visible : Visibility.Invisible)"
              class="d-flex justify-content-between align-items-center mb-2">
              <p class="lead mb-0">
                @if (AllWorkflowsSelected)
                {
                    @L["AllItemsAreSelected", TotalCount]
                }
                else
                {
                    @if (SelectedWorkflows.Count > 1)
                    {
                        @L["NumberOfItemsOnThisPageAreSelected", SelectedWorkflows.Count]
                    }
                    else
                    {
                        @L["OneItemOnThisPageIsSelected"]
                    }
                }
              </p>
            <div>
                @if ((SelectedWorkflows.Count == PageSize || SelectedWorkflows.Count == WorkflowList.Count) && TotalCount > SelectedWorkflows.Count)
                {
                    if (!AllWorkflowsSelected)
                    {
                        <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                    }
                    else
                    {
                        <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                    }
                }
                <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedWorkflowsAsync">
                    <Icon Name="@IconName.Delete" /> @L["Delete"]
                </Button>
            </div>
        </Div>
        <hr Visibility="@(SelectedWorkflows.Any() ? Visibility.Visible : Visibility.Invisible)"
            class="my-1 mx-0" />
        <DataGrid TItem="WorkflowWithNavigationPropertiesDto"
                  @ref="DataGridRef"
                  Data="WorkflowList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedWorkflows"
                  RowSelectable="RowSelectableHandler"
                  SelectedRowsChanged="SelectedWorkflowRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                @if (CanDeleteWorkflow && WorkflowList.Any())
                {
                    <DataGridMultiSelectColumn TItem="WorkflowWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                <DataGridEntityActionsColumn TItem="WorkflowWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="WorkflowWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="WorkflowWithNavigationPropertiesDto"
                                          Visible="@CanEditWorkflow"
                                          Clicked="async () => await OpenEditWorkflowModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="WorkflowWithNavigationPropertiesDto"
                                          Visible="@CanDeleteWorkflow"
                                          Clicked="() => DeleteWorkflowAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
              <DataGridColumn TItem="WorkflowWithNavigationPropertiesDto"
                      Field="Workflow.Code"
                      Caption="@L["Code"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowWithNavigationPropertiesDto"
                      Field="Workflow.Name"
                      Caption="@L["Name"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowWithNavigationPropertiesDto"
                      Field="Workflow.Description"
                      Caption="@L["Description"]">
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowWithNavigationPropertiesDto"
                      Field="Workflow.IsActive"
                      Caption="@L["IsActive"]">
                    <DisplayTemplate>
                        @if (context.Workflow.IsActive)
                        {
                            <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                        }
                        else
                        {
                            <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                        }
                    </DisplayTemplate>
              </DataGridColumn>
              <DataGridColumn TItem="WorkflowWithNavigationPropertiesDto"
                      Field="WorkflowDefinition.Code"
                      Caption="@L["WorkflowDefinition"]">
              </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateWorkflowModal" Closing="@CreateWorkflowModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateWorkflowForm">
            <ModalHeader>
                <ModalTitle>@L["NewWorkflow"]</ModalTitle>
                <CloseButton Clicked="CloseCreateWorkflowModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewWorkflowValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewWorkflow"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Code"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewWorkflow.Code" MaxLength="WorkflowConsts.CodeMaxLength"  Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewWorkflow.Name"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <MemoEdit @bind-Text="@NewWorkflow.Description"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@NewWorkflow.IsActive"  >@L["IsActive"]</Check>
                    </Field>
                    <Field>
                        <FieldLabel>@L["WorkflowDefinition"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewWorkflow.WorkflowDefinitionId">
                            @foreach (var workflowDefinition in WorkflowDefinitionsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(workflowDefinition.Id)">
                                    @(workflowDefinition.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateWorkflowModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateWorkflowForm" Clicked="CreateWorkflowAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>
@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditWorkflowModal" Closing="@EditWorkflowModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditWorkflowForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditWorkflowModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingWorkflowValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingWorkflow"
                            ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Code"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingWorkflow.Code" MaxLength="WorkflowConsts.CodeMaxLength"  Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingWorkflow.Name"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <MemoEdit @bind-Text="@EditingWorkflow.Description"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@EditingWorkflow.IsActive"  >@L["IsActive"]</Check>
                    </Field>
                    <Field>
                        <FieldLabel>@L["WorkflowDefinition"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingWorkflow.WorkflowDefinitionId">
                            @foreach (var workflowDefinition in WorkflowDefinitionsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(workflowDefinition.Id)">
                                    @(workflowDefinition.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditWorkflowModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditWorkflowForm" Clicked="UpdateWorkflowAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>